﻿@{
    ViewData["Title"] = "Messager";
}
<div class="row">
    <div class="col col-md-3"></div>
    <div class="col col-md-6">
        <div class="form-group">
            <h2 class="h2">Envoyer un message</h2>
            <br />
            <label for="user">User :</label>
            <input class="form-control" type="text" id="user" />
            <br />
            <label for="message">Message :</label>
            <input class="form-control" type="text" id="message" />
            <br />
            <button class="btn btn-primary" type="button" id="envoie">Envoyer</button>
        </div>
        <h2 class="h2">Historique des messages</h2>
        <br />
        <div class="row justify-content-md-center">
            <ul class="list-unstyled">
                <li class="media" id="messages">
                </li>
            </ul>
        </div>
    </div>
    <div class="col col-md-3"></div>
</div>

    @section Scripts{
        <script src="~/lib/@@aspnet/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/msgpack5.js"></script>
        <script src="~/js/signalr-protocol-msgpack.js"></script>²
        <script src="~/js/messenger.js"></script>
    }
